<form method="post">
	<!-- native login -->
	<div>
		<input type="text" name="id" />
		<input type="password" name="password" />
		<input type="submit" value="Sign In" />
	</div>
	<!-- janrain.com -->
	<%if (janrain) {%>
	<div>
		<iframe src="https://<%-janrain.domain%>.rpxnow.com/openid/embed?language_preference=en&token_url=<%-tokenUrl%>" style="width:400px;height:240px;" scrolling="no" frameborder="no"></iframe>
	</div>
	<%}%>
	<!-- loginza.ru -->
	<%if (loginza) {%>
	<div>
		<iframe src="https://loginza.ru/api/widget?overlay=loginza&lang=en&token_url=<%-tokenUrl%>" style="width:359px;height:300px;" scrolling="no" frameborder="no"></iframe>
	</div>
	<%}%>
</form>
