<div id="user">
	<% if (user.id) { %>
	Hi, <%= user.name || user.email || user.id %>!
	<form action="/auth" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	<% } else { %>
	<a href="/auth">Sign In</a>
	<% } %>
</div>

<div id="menu"></div>



<b>Multiple File Upload:</b><br/><br/>
<form action1="/upload" enctype="multipart/form-data" method="post">
	<input type="text" name="title"><br>
	<input type="file" name="upload[]" multiple="multiple"><br>
	<input type="text" name="data[title]"><br>
	<input type="text" name="data[name]"><br>
	<input type="file" name="data[files][]" multiple="multiple"><br>
	<input type="submit" value="Upload">

<script type="text/javascript">
	var RecaptchaOptions = {
		theme : 'clean',
		lang : 'fr'
	};
</script>
<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=<%=form.recaptchaKey%>"></script>
<noscript>
	<iframe src="http://www.google.com/recaptcha/api/noscript?k=<%=form.recaptchaKey%>" height="300" width="500" frameborder="0"></iframe><br>
	<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
	<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
</noscript>

</form>

<b>Body</b><br/><br/>
<%= JSON.stringify(fields) %>

<b>Files Uploaded</b><br/><br/>
<% _.each(files, function(file, path) { %>
	Path: <%=path%><br/>
	<a href="<%=path%>"><img src="<%=path%>" /></a><br/>
	Path: <%=file.size%><br/>
<% }); %>
