<header id="header">
	<form action="/auth" method="post"><input type="submit" value="Sign Out" /></form>

</header>
<div id="content">

<script>
/*$("#send-button").click(function() {
	now.distributeMessage($("#text-input").val());
	$("#text-input").val('');
});*/
</script>

<div id="messages"></div>
<input type="text" id="text-input" />
<input type="button" value="Send" id="send-button" />

<script id="menuForRole" type="text/html">
	{{each roles}}
	You can ${ $value }
	{{/each}}
</script>

<script id="profile" type="text/html">
	email: ${ email }
	roles: ${ roles }
</script>

<div id="dashboard" data-bind="visible: user.id">
Hello, <span data-bind="text: user.id"></span>!
Hi, <span data-bind="text: (user.name || user.email || user.id || 'Guest')"></span>!
<div data-bind="template: {name: 'menuForRole', data: user}"></div>
Profile
<div data-bind="template: {name: 'profile', data: user}"></div>
</div>

<script id="adminList" type="text/html">
<p>
	id: ${ id }
</p>
</script>

<div data-bind="template: {name: 'adminList', foreach: admins}"></div>



</div>
<footer id="footer">

</footer>
